.tabel {
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #3399CC;
	border-right-color: #3399CC;
	border-bottom-color: #3399CC;
	border-left-color: #3399CC;
}
td {
	font-size: 12px;
	color: #006699;
}
a {
	font-size: 12px;
	color: #006699;
	text-decoration: none;
}
a:hover {
	font-size: 12px;
	color: #0099FF;
	text-decoration: none;
}

INPUT{font-family: tahoma; font-size: 12px;border: 1px #000000 solid;BACKGROUND: url(../../images/bg2.gif)}
textarea, select {BACKGROUND: url(../../images/bg2.gif);border-width: 1; border-color: #000000;border: 1px dotted #000000;background-color: #efefef; font-family: tahoma; font-size: 12px; font-style: bold;}
.b {
	color: #FFFFFF;
	font-size: 12px;
FILTER: dropshadow(color=#000000,offx=1,offy=1,positive=1)
}